<div class="list-empty" >
    @if (songs.length == 0) {
        <h1>No songs found.</h1>
    }
</div>

<ul class="song-list">
    @for (song of songs; track $index) {
        <li class="song mx-3" style="position: relative;" >
            <div (click)="onSongClick($index);">
                <div class="author-details">
                    <div class="song-title">{{song.title}} {{song.durationMinutes.slice(3)}}</div>
                    <p class="author">{{song.release.authors.join(" ft. ")}} — {{song.release.name}}</p>
                    <p class="genre">{{song.genres.join(", ")}}</p>
                </div>
                <div class="btn-add-to-playlist">
                </div>
            </div>
        </li>
    }
</ul>