<div class="modal" [style.display]="_showModal ? 'block' : 'none'">
    <div class="class modal-background"></div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;">{{playlist.name}} playlist</h5>
                <button type="button" class="btn-close" (click)="onCancel();">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                @for(song of playlist.songs; track $index) {
                    <song-detail [editMode]="true" [song]="song" (onDelete)="onDeleteSong($event);"></song-detail>
                }
        
            </div>

            <div class="modal-footer" bis_skin_checked="1">
                <button type="button" class="btn btn-secondary" (click)="onCancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>
